body {
    height: 100vh;
    background: #131217;
    font-family: 'Kanit', sans-serif;
    color: white;
}

main {
    width: 480px;
    margin: 4em auto;
    text-align: left;
}

.character-length, .slider-div, .checkboxes, .strength, .button-div {
    margin: 0 0 1em 0;
}

.strength {
    border: 1px solid #000000;
}

.checkbox-divs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.title {
    text-align: left;
    margin: 0 0 0.5em 0;
}

.password {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2em 0;
    background: #24232a;
    border-radius: 5px;
}

.password-output {
    background: none;
    border: none;
    width: 90%;
    padding: 0.6em;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Kanit';
    color: white;
    outline: none;
}

.copy-paste {
    width: 31px;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.options-box {
    background: #24232a;
    border: none;
    padding: 1em;
    border-radius: 5px;
}

.character-length {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#characterlength {
    background: none;
    font-family: 'Kanit';
    color: white;
    outline: none;
    width: 25px;
}

#rangeslider {
    cursor: pointer;
    width: 100%;
}

.checkboxes {
    display: flex;
    flex-flow: column nowrap;
}

.generate {
    background: #a5ffaf;
    color: black;
    font-family: 'Kanit';
    padding: 1em;
    border: none;
    border-radius: 5px;
}